<% wrap_layout :layout do %>
  <article>
    <div class="container mx-auto py-8">
      <div class="max-w-4xl mx-auto bg-white rounded-lg shadow-lg p-8">
        <!-- Content styling for Markdown pages -->
        <div class="prose">
          <%= Redcarpet::Markdown.new(Redcarpet::Render::HTML).render(yield).html_safe %>
        </div>
      </div>
    </div>
  </article>
<% end %>
