---
title: Guideline
permalink: "guideline"
layout: post
---

Navigate through the key pages of the guideline below

<div class="w-3/4">
  <div class="menu-content">
    <% pages = Dir.glob('source/pages/*.html.erb') %>
    <% pages.sort_by! { |page| page.downcase } %>
    <ul class="menu-items space-y-0 pb-0"> <!-- Adjust the space-y and pb classes as needed -->
    <% pages.each do |page| %>
        <% frontmatter = YAML.load_file(page) %>
<% permalink = '/' + (frontmatter['permalink'] || page.sub('.html.erb', '')) %>
        <% title = frontmatter['title'] || File.basename(page, '.*').capitalize %>
        <li>
          <a href="<%= permalink %>"
            class="block py-1 px-2 text-sm text-gray-700 hover:bg-gray-100 transition-colors duration-300 ease-in-out">
            <%= title %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

