---
title: Home
layout: post
---

<%= partial 'templates/components/callout', locals: { type: "question", title: "Information", text: "This site is in draft (obviously). This page gives some general about information" } %>


<p> The idea of this collection was to collate a set of ethics guidelines particularly focused on education and AI (separately and together). The focal guidelines are under various open licenses, that should permit their reuse in this way; each element from the items should be cited. </p>

<p> This setup allows us to disaggregate the various elements, and to map connections: </p>

<ul>
<li> Inter-guideline, i.e., between them. So we can see which elements are similar/different, and draw on the resources of one guideline in addressing challenges or principles from another </li>
<li> Intra-guideline, i.e., within them. So we can see really clearly how, e.g., particular challenges relate to the principles within the document itself. Some guidelines do this explicitly but through a flat document, while often it is implicit. </li>
</ul>

